# --- Unity ---  
[Ll]ibrary/  
[Tt]emp/  
[Oo]bj/  
[Bb]uild/  
[Bb]uilds/  
[Ll]ogs/  
[Uu]ser[Ss]ettings/  
[Mm]emoryCaptures/  

# --- Unity Package Manager (UPM) ---  
Packages/  
!Packages/manifest.json  
!Packages/packages-lock.json  

# --- Configuración de versiones de Unity ---  
ProjectSettings/EditorBuildSettings.asset  
ProjectSettings/ProjectVersion.txt  

# --- Archivos de dependencias de Unity ---  
*.csproj  
*.sln  
*.suo  
*.pidb  
*.svclog  
*.pdb  
*.ilk  
*.obj  
*.idb  
*.tlog  
*.log  
*.VC.db  
*.opendb  
*.ipch  

# --- Rider, JetBrains y Visual Studio ---  
.idea/  
.vs/  
*.iml  


# --- Archivos de sistema innecesarios ---  
.DS_Store  
Thumbs.db  

# --- Archivos de Unity Collaborate y Plastic SCM ---  
/Assets/StreamingAssets/UnityCollaborate/  

# --- Ignorar archivos de compilación de Android y iOS ---  
*.apk  
*.aab  
*.ipa  

# --- Excluir configuraciones específicas del usuario ---  
/Logs/  
/Library/  
/Temp/  
/Obj/  
/MemoryCaptures/  
/*.local/  